$deep-brown: #382E2C;
$light-grey: #E4D5D3;
$medium-grey: #978C87;
$deep-grey: #746661;

body{
  background-color: $deep-brown;
  margin: 0;
}

a{
  &:hover{
    color: white;
    background-color: $deep-brown;
  }
  &#enter{
    margin: auto;
    text-align: center;
    position: fixed;
    font-size: 24px;
    top: 60%;
    left: 47%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    &:hover{
      background-color: grey;
      color: white;
    }
  }
}

p{
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}

span#landing-reel{
  color: grey;
  font-size: 48px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before{
    content: "Nathan Cheng Consulting";
    animation: animate infinite 9s;
  }
}

@keyframes animate {
  33%{content: "Client Representation"}
  66%{content: "Project Management"}
  99%{content: "Nathan Cheng Consulting"}
}

#logo{
  max-height: 45px;
  &:hover{
    background-color: $deep-brown;
  }
}

#content{
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: $medium-grey;
  padding: 20px;
  height: 100%;
}

#content-wrapper{
  background-color: $medium-grey;
  width: 100%;
  min-height: 630px
}

#footer{
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-size: 15px
}

#contact{
  font-size: 35px;
}

/* Dropdown styling */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $deep-brown;
}

li{
  float: right;
  display: table-cell;

  &:hover{
    color: white;
    background-color: $deep-brown;
  }

  a{
    font-family: sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    height: 51px;
  }
}

#dropdown{
  width: 370px;
  overflow: hidden;
  &:hover{
    #dropdown-content{
      display: block;
    }
  }
}

#dropdown-content{
  min-width: 160px;
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 79px;
  li {
    display: table-cell;
    float: right;
    a{
      width:338px;
      text-decoration: none;
      background-color: $deep-brown;
      display: block;
      text-align: center;
      vertical-align: middle;
      &:hover{
        background-color: $deep-brown;
      }
    }
  }
}
