/*

whenever this file is changed, make sure to recompile it to css before uploading
it to the hosting service

Documentation for Sass and .scss files can be found at https://sass-lang.com

*/


/* Colors*/
$deep-brown: #382E2C;
$light-grey: #E4D5D3;
$medium-grey: #978C87;
$deep-grey: #746661;
$old-brown: rgba(140, 103, 72, 1);
$pale-grey: #e6e6e6;

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  background-color: $old-brown;
}

p{
  font-size: 25px;
  font-family: sans-serif;
  color: black;
}

#logo{
  max-height: 45px;
}
/*the content div flexes to accomodate all of the content in the center of the page
it is only overwritten on index.html to add a background image*/
#content{
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: inherit;
  padding: 20px;
  height: 100%;
  padding-top: 81px;
  padding-bottom: 92px;
  h1{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
  }
  h3{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
  }
}

/*the content-wrapper lets the background color stretch to the edge of the
screen without also stretching the content*/
/*it has it's own sepatate background color*/
#content-wrapper{
  background-color: $pale-grey;
  width: 100%;
  /*the negative margin is to allow for the footer to behave as it does.
  if anything about the footer size is changed, this must be adjusted too*/
  margin-bottom: -92px;
  min-height: 100%;
}

/*the footer inheirits the background color assigned to the body*/
#footer{
  padding-top: 20px;
  min-height: 70px;
  border-top: 2px solid white;
  width: 100%;
  margin: auto;
  background-color: inherit;
  /*the footer has smaller text by default, only paragraph tags are used*/
  p{
    color: white;
    text-align: center;
    font-size: 1vw;
  }
}
/*deprecated*/
#contact{
  font-size: 35px;
}

#bio{
  padding-bottom: 30px;
  p{
    font-size: 20px;
    line-height: 150%;
  }
  h3{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 30px;
  }
}

#email{
  font-size: 25px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

/* deprecated */
#flowchart{
  max-height: 550px;
  margin: auto;
  border: 1px black;
}

/*used to organize the bullte points in concierge.html and const-mang.html*/
.point{
  h3{
    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  p{
    font-size: 20px;
  }
}

/*deprecated*/
.address{
  padding-bottom: 20px;
  p{
    font-size: 20px;
  }
  h3{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }
}

.bold{
  font-weight: bold;
  p{
    font-size: 25px;
  }
  h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }
}

/* Dropdown styling */
/* ill be honest, this took so much tweaking and changing to get to work that
I cant exactly describe how it functions. feel free to try and figure out how
it works, but if you have a better dropdown implementation, please use that instead */

/*this ul is the dropdown trigger, it has the #dropdown id*/
ul{
  width:100%;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: inherit; /* Inherits from body */
  border-bottom: 2px solid white;
}

li{
  float: right;
  display: table-cell;
  color: white;
  /*transition: background-color 0.5s;
  &:hover{
    background-color: $deep-brown;
  }*/
  a{
    color: inherit;
    font-family: sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    &.navbar-item{
      padding: 28px 16px;
    }
  }
}

/*this displays the actual dropdown*/
#dropdown{
  position: relative;
  &:hover{
    #dropdown-content{
      display: block;
      position: absolute;
    }
  }
}
/*all of these rules keep the dropdown menu fixed below the trigger */
#dropdown-content{
  display: none;
  position: absolute;
  z-index: 4;
  background-color: inherit;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  a {
    text-decoration: none;
    background-color: inherit;
    display: block;
    text-align: center;
    vertical-align: middle;
    &:hover{
      background-color: $old-brown;
    }
  }
}

/* Landing Page */
/* the landing page is currently unsused, these styles were for a animated text rotation,
they arent used anywhere else on the site */

span#landing-reel{
  color: grey;
  font-size: 48px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before{
    content: "Nathan Cheng Consulting";
    animation: animate infinite 9s;
  }
}

a#enter{
  margin: auto;
  text-align: center;
  position: fixed;
  font-size: 24px;
  top: 60%;
  left: 47%;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  &:hover{
    background-color: grey;
    color: white;
  }
}

@keyframes animate {
  33%{content: "Client Representation"}
  66%{content: "Project Management"}
  99%{content: "Nathan Cheng Consulting"}
}
