body {
  background-color: #8c6748;
  margin: 0;
}

a:hover {
  color: white;
  background-color: #8c6748;
}
a#enter {
  margin: auto;
  text-align: center;
  position: fixed;
  font-size: 24px;
  top: 60%;
  left: 47%;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}
a#enter:hover {
  background-color: grey;
  color: white;
}

p {
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}

span#landing-reel {
  color: grey;
  font-size: 48px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span#landing-reel::before {
  content: "Nathan Cheng Consulting";
  animation: animate infinite 9s;
}

@keyframes animate {
  33% {
    content: "Client Representation";
  }
  66% {
    content: "Project Management";
  }
  99% {
    content: "Nathan Cheng Consulting";
  }
}
#logo {
  max-height: 45px;
}
#logo:hover {
  background-color: #8c6748;
}

#content {
  width: 50%;
  margin: auto;
  text-align: center;
  /*background-color: $medium-grey;*/
  padding: 20px;
  height: 100%;
  text-shadow: 0 0 10px black;
  padding-top: 81px;
}

#content-wrapper {
  /*background-color: $medium-grey;*/
  width: 100%;
  min-height: 630px;
}
#content-wrapper::before {
  z-index: -1;
  background-image: url(bg1.jpg);
  filter: brightness(50%);
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
}

#footer {
  padding-top: 10px;
  min-height: 70px;
  border-top: 2px solid white;
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  background-color: #8c6748;
}

#contact {
  font-size: 35px;
}

#bio p {
  font-size: 20px;
  line-height: 150%;
}
#bio h3 {
  font-family: "open sans", sans-serif;
  color: white;
  font-size: 30px;
}

#email {
  font-size: 25px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
#email:hover {
  background-color: none;
}

.point h3 {
  color: white;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}
.point p {
  font-size: 20px;
}

/* Dropdown styling */
ul {
  width: 100%;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: #8c6748;
  border-bottom: 2px solid white;
}

li {
  float: right;
  display: table-cell;
}
li:hover {
  color: white;
  background-color: #8c6748;
}
li a {
  color: white;
  font-family: sans-serif;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
li a.navbar-item {
  padding: 28px 16px;
}

#dropdown {
  position: relative;
}
#dropdown:hover #dropdown-content {
  display: block;
  position: absolute;
}

#dropdown-content {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: #8c6748;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
#dropdown-content li a {
  /*width:338px;*/
  text-decoration: none;
  background-color: #8c6748;
  display: block;
  text-align: center;
  vertical-align: middle;
}
#dropdown-content li a:hover {
  background-color: #8c6748;
}

/*# sourceMappingURL=style.css.map */
