$deep-brown: #382E2C;
$light-grey: #E4D5D3;
$medium-grey: #978C87;
$deep-grey: #746661;
$old-brown: rgba(140, 103, 72, 1);
$pale-grey:#dedede;

body{
  background-color: $old-brown;
  margin: 0;
}

a{
  &:hover{
    color: white;
    background-color: $old-brown;
  }
  &#enter{
    margin: auto;
    text-align: center;
    position: fixed;
    font-size: 24px;
    top: 60%;
    left: 47%;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    &:hover{
      background-color: grey;
      color: white;
    }
  }
}

p{
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}

span#landing-reel{
  color: grey;
  font-size: 48px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before{
    content: "Nathan Cheng Consulting";
    animation: animate infinite 9s;
  }
}

@keyframes animate {
  33%{content: "Client Representation"}
  66%{content: "Project Management"}
  99%{content: "Nathan Cheng Consulting"}
}

#logo{
  max-height: 45px;
  &:hover{
    background-color: $old-brown;
  }
}

#content{
  width: 50%;
  margin: auto;
  text-align: center;
  /*background-color: $medium-grey;*/
  padding: 20px;
  height: 100%;
  text-shadow: 0 0 10px black;
  padding-top: 81px;
}

#content-wrapper{
  /*background-color: $medium-grey;*/
  width: 100%;
  min-height: 630px;
  &::before{
    z-index: -1;
    background-image: url(bg1.jpg);
    filter: brightness(50%);
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

#footer{
  padding-top: 10px;
  min-height: 70px;
  border-top: 2px solid white;
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  background-color: $old-brown;
}

#contact{
  font-size: 35px;
}

#bio{
  p{
    font-size: 20px;
    line-height: 150%;
  }
  h3{
    font-family: "open sans", sans-serif;
    color: white;
    font-size: 30px;
  }
}

#email{
  font-size: 25px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  &:hover{
    background-color: none;
  }
}

.point{
  h3{
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  p{
    font-size: 20px;
  }
}

/* Dropdown styling */
ul{
  width:100%;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: $old-brown;
  border-bottom: 2px solid white;
}

li{
  float: right;
  display: table-cell;

  &:hover{
    color: white;
    background-color: $old-brown;
  }

  a{
    color: white;
    font-family: sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    &.navbar-item{
      padding: 28px 16px;
    }
  }
}



#dropdown{
  position: relative;
  &:hover{
    #dropdown-content{
      display: block;
      position: absolute;
    }
  }
}

#dropdown-content{
  display: none;
  position: absolute;
  z-index: 4;
  background-color: $old-brown;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  li {
    a {
      /*width:338px;*/
      text-decoration: none;
      background-color: $old-brown;
      display: block;
      text-align: center;
      vertical-align: middle;
      &:hover{
        background-color: $old-brown;
      }
    }
  }
}
